
/*Style All pages*/
body{
  background-color: lightblue;
  width: 80%;/* set width to 80% */
  margin-left: auto;/* set margin-left to auto*/
  margin-right: auto;/* set margin-right to auto*/
}

header{
  font-family:Calibri, Arial,sans-serif;
}


.caption {/*create caption class */
 float: right;/* inside caption class set float property to left */
  text-align: center;/* inside caption class set text-align property to center */
  margin-right: 20%;/* inside caption class set margin-right property to 20% */
}

nav{
  font-family:Calibri, Arial,sans-serif;
  font-size: 1.25em;
  font-weight:bold;
  text-align:center;
  margin-top: 20px;/* set margin-top to 20px */
  margin-bottom: 30px;/* set margin-bottom to 30px */
  padding: 10px;/* set padding to 10px */
  border-top: 5px solid #FFFFFF;/* set border-top to 5px solid #FFFFFF */
  border-bottom: 5px solid #FFFFFF;/* set border-bottom to 5px solid #FFFFFF */
}


#main{
  display: block;
  font-family:Calibri, Arial,sans-serif;
  font-size:1em;
  margin-top: 20px;/* set margin-top to 20px  */
  margin-bottom: 10px;/* set margin-bottom to 10px  */
  padding: 20px;  /* set padding to 20px  */
  border-radius: 10px;/* set border-radius to 10px  */
  background-color: #FFFFFF;/* set background-color:#FFFFFF; */
  box-shadow: 12px 12px 12px #404040;/* set box-shadow:12px 12px 12px #404040; */
}

footer { /* Style a footer  */
font-size: 0.70em;  /*set font-size to .70em  */
text-align: center;/*set text-align to center */
margin-top: 150px;/*set margin-top to 150px */
}



/*Style Classics page */
.column{  /*create column class */
 float: left; /*set float property to left  */
padding-left: 10%;  /*set padding-left property to 10%  */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
